.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  border-bottom: 1px solid var(--color-border);
  height: 60px;
  background: #ffffff;
  z-index: 30;
  min-width: 880px;
}
.menu {
  display: flex;
}
.menu a {
  outline-offset: -1px;
}
.buttonWrapper {
  margin-left: 32px;
  display: flex;
  column-gap: 24px;
  align-items: center;
}
.btnPrimary {
  width: 108px;
  height: 40px;
  border-radius: 4px;
  padding: 10px 12px;
  background: var(--color-primary);
  color: #ffffff;
  font-weight: 500;
  line-height: 1.35;
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.btnPrimary:hover {
  background: var(--color-primary-hover);
  color: white !important;
}
.btn {
  font-weight: 500;
  font-size: 15px;
}
.catalogBtn {
  width: 140px;
  justify-content: center;
}
.rightBlock {
  margin-left: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}
.linkWhite {
  height: 40px;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  column-gap: 4px;
  font-weight: 500;
  line-height: 1.35;
  color: inherit;
}
.linkWhite:hover {
  color: var(--color-primary-hover);
}
.iconBlock {
  display: flex;
  column-gap: 37px;
  margin-left: 32px;
}
.selectLanguage {
  font-size: 18px;
}
.nameUser {
  font-weight: 500;
}
.tags {
  display: flex;
  width: 220px;
  flex-wrap: wrap;
  row-gap: 8px;
}
.tag {
  display: inline-flex;
  align-items: center;
  height: 20px;
  color: var(--color-text-primary) !important;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.tagSeller {
  border-color: #f4bf02 !important;
}
.tagAdmin {
  border-color: var(--color-primary) !important;
}
.tagModerator {
  border-color: #265df6 !important;
}
.tagOnline {
  border-color: #2fc227 !important;
}
.buttonDropdown.buttonDropdown {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.buttonDropdown svg {
  transition: fill ease-in-out 0.3s;
}
.buttonDropdown:hover svg {
  fill: var(--color-primary-hover);
}
.drawer {
  margin-top: 60px;
  width: 100% !important;
}
.drawerCatalog.drawerCatalog {
  padding-left: 0;
  padding-right: 0;
}
.linkContact {
  color: inherit;
  padding: 4px;
}
.logo,
.logo svg {
  display: block;
  width: 123px;
  height: 60px;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

@media screen and (max-width: 1100px) {
  .header {
    grid-template-columns: 1fr 1fr;
  }
}
