.container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.subtitle {
  font-size: 13px;
  color: var(--color-neutral-secondary);
  line-height: 1.6;
}
.title,
.label {
  font-weight: 600;
}

.title:not(:last-child)::after {
  content: '/ ';
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 16px;
  margin-top: 16px;
}
