.container {
  position: relative;
}
.closeIcon.closeIcon {
  position: absolute;
  top: 10px;
  right: 16px;
  padding: 0;
}
.itemSelect svg {
  margin-right: 8px;
  fill: var(--color-text-primary);
  transition: fill ease-in-out 0.3s;
}
.itemSelect:hover svg {
  fill: var(--color-primary-hover);
}
.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}
.addVehiclesButton.addVehiclesButton {
  display: flex;
  column-gap: 8px;
  align-items: center;
}
.tags {
  margin-top: 4px;
}
.tag.tag {
  display: inline-flex;
  align-items: center;
  height: 24px;
  border-radius: 16px;
  border-color: var(--color-border);
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: var(--color-text-primary);
  background: var(--color-bg-neutral);
  cursor: pointer;
  margin: 4px;
}
.clearAll.clearAll {
  cursor: pointer;
  background: transparent;
}
.clearAll:hover {
  color: var(--color-primary-hover);
}
.clearTagsSelect.clearTagsSelect {
  position: absolute;
  right: 32px;
  top: 5px;
  cursor: default;
}
.countTags {
  color: var(--color-text-primary);
  margin-left: 4px;
}
.clearTagsButton.clearTagsButton {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  padding: 0;
  width: 22px;
  height: 22px;
}
