.container {
  padding: 18px;
  height: 90%;
}
.flexContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 480px;
}
.text {
  max-width: 344px;
  text-align: center;
  margin-top: 8px;
}
.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 16px;
  margin-top: 16px;
}

@media screen and (max-width: 1250px) {
  .form.form {
    grid-template-columns: repeat(2, 1fr);
  }
}
