.table {
  margin: 16px 0;
}
.datePicker {
  display: flex;
  flex-direction: column;

  row-gap: 6px;
}
.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 12px;
  height: 40px;
  margin-top: 16px;
}
.buttonWrapper .button {
  border-radius: 4px;
  width: 104px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button svg {
  fill: #ffffff;
}
