.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.fullWidth {
  grid-template-columns: 1fr;
}

.tabContainer {
  height: 64px;
  display: flex;
  align-items: center;
}
.addBlock {
  margin-top: 68px;
}
.layoutCatalogNumbers {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media screen and (max-width: 1270px) {
  .container {
    grid-template-columns: 676px;
    align-items: flex-start;
  }
  .fullWidth {
    grid-template-columns: 1fr;
  }
}
