.parameter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addButton.addButton {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  padding: 8px;
  border-color: var(--color-primary);
}
.addButton svg {
  fill: var(--color-text-primary);
  transition: fill 0.3s;
}
.addButton:hover svg {
  fill: var(--color-primary-hover);
}
.titleParameter {
  cursor: pointer;
  display: flex;
  column-gap: 4px;
  align-items: center;
}
.titleParameter span {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-neutral-secondary);
}
.arrowIcon {
  transition: ease-in-out 0.3s;
}
.arrowIconOpen {
  transform: rotate(180deg);
}
