.button.button {
  display: flex;
  align-items: center;
  column-gap: 8px;
  width: 245px;
  margin-top: 16px;
}
.characteristics {
  font-weight: 600;
}
.titleParameter {
  text-wrap: nowrap;
}
.list {
  margin-top: 4px;
}
.list li {
  display: flex;
  align-items: flex-start;
  row-gap: 6px;
}
.value.value {
  margin-left: 6px;
  cursor: pointer;
  position: relative;
}

/* circles */
.valueItem:not(:last-child)::after {
  content: '';
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: var(--color-text-primary);
  margin: 0 0 3px 6px;
}
