.container {
  height: 80px;
  background: var(--color-primary);
  color: var(--color-white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 63px;
  margin-top: 20px;
  overflow: hidden;
}
.content {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.images {
  display: flex;
  justify-content: center;
  position: relative;
}
.imageFirst {
  position: absolute;
  top: 0;
  left: 100px;
}
.imageSecond {
  position: absolute;
  top: 0;
  left: 210px;
}
.imageThird {
  position: absolute;
  top: 0;
  left: 315px;
}
